<footer>
  <p>Made with ❤️ by Kreator25</p>
  <h4>Let's get in touch</h4>
  <ul type="none;">
    <li><a href="https://www.linkedin.com/in/kushagra-kapoor-2540b8187/" target="_newtab">Linkdin</a></li>
    <li><a href="mailto:kushagrakapoor27@gmail.com" target="_newtab">Email</a></li>
    <li><a href="https://github.com/Kreator25" target="_newtab">GitHub</a></li>
  </ul>
</footer>
</body>

</html>
